<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  <title><%= data.title %> | Voting App</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/randomcolor/0.6.1/randomColor.min.js"></script>
  
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
  <div class="container">
    <a class="navbar-brand" href="/">Welcome<% if(locals.session.authenticated) { %>, <%= locals.session.user.username %> <% } %>  </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav ms-auto">
        <a class="nav-link <% if(data.title ==='Home' ) { %> Active <% } %>" aria-current="page" href="/">Home</a>
        
        <% if(locals.session.authenticated) { %>
        <a class="nav-link <% if(data.title ==='My Polls' ) { %> Active <% } %>" href="/mypolls">My Polls</a>
        <a class="nav-link <% if(data.title ==='New Poll' ) { %> Active <% } %>" href="/newpoll">New Poll</a>
        <a class="nav-link <% if(data.title ==='Log Out' ) { %> Active <% } %>" href="/logout">Log Out</a>
       
        <% }else{ %>
        <a class="nav-link <% if(data.title ==='Login' ) { %> Active <% } %>" href="/login">Login</a>
        <a class="nav-link <% if(data.title ==='Sign Up' ) { %> Active <% } %>" href="/signup">Sign Up</a>
        <% } %>
      </div>
      
    </div>
  </div>
</nav>